<p>{{ firstName }} {{ lastName }} has shared a task with you:</p>
<br>
<br>
<p>Task Name: <b>{{ taskName }}</b></p>
<p>Task Description: {{ taskDescription }}</p>
<p>Go to Task:
    <a href="{{ taskUrl }}" target="_blank">
        {{ taskUrl }}
    </a>
</p>